.footer-back{
    background-color: #232f3e;
}



@media  (min-width: 375px) and (max-width: 992px) {
    .divFooterMediaColumn{
        display: flex;
        flex-direction: column;
        align-items: center;
     } 
     .tagsInFooter{
         width: 56% !important;
     }

}


